
@model IEnumerable<ReservaVuelo>


<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />


<div class="divContenido animate__animated animate__fadeIn">
    <div class="d-flex justify-content-between p-4">
        <h3 class="tituloAdim">Vuelos Vendidos</h3>
        <button id="reportePdf" type="button" class="btn btn-success"><i class="fas fa-solid fa-print"></i>Imprimir Reporte</button>
    </div>

    <table id="reporte" class="table table-striped">
        <thead>
            <tr>
                <th class="ocultar-en-768px" scope="col">ID</th>
                <th class="ocultar-en-768px" scope="col">Aerolinea</th>
                <th class="ocultar-en-550px" scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th class="ocultar-en-550px" scope="col">Salida</th>
                <th class="ocultar-en-768px" scope="col">Regreso</th>
                <th class="ocultar-en-768px" scope="col">Pasajeros</th>
                <th scope="col">Monto</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reserva in Model)
            {
                <tr>
                    <td class="ocultar-en-768px">@reserva.ReservaVueloID</td>
                    <td class="ocultar-en-768px">@reserva.AerolineaID - @reserva.AerolineaNombre</td>
                    <td class="ocultar-en-550px">@reserva.AeropuertoOrigenID</td>
                    <td>@reserva.AeropuertoDestinoID</td>
                    <td class="ocultar-en-550px">@reserva.FechaSalida.ToString("dd/MM/yyyy HH:mm")Hs.</td>
                    @if(@reserva.FechaRegreso.HasValue){
                       <td class="ocultar-en-768px">@reserva.FechaRegreso.Value.ToString("dd/MM/yyyy HH:mm")Hs.</td> 
                    }else{
                        <td class="ocultar-en-768px">-----</td>
                    }
                    <td class="ocultar-en-768px">@reserva.CantidadPasajeros</td>
                    <td>$@reserva.MontoTotalCompra</td>        
                    <td>
                        <div class="d-flex flex-column tdBotones">
                            <div>
                                <button type="button" data-id="@reserva.ReservaVueloID" class="btnCancelar btn btn-danger" data-bs-toggle="tooltip" title="Cancelar Reserva" onclick="cancelarReserva()"><i class="fa-solid fa-ban"></i></button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Pasajeros" data-bs-target="#modalPasajeros_@reserva.ReservaVueloID"><i class="fa-solid fa-users"></i></button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Tramos" data-bs-target="#modalEscalas_@reserva.ReservaVueloID"><i class="fa-solid fa-bars-progress"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>

                @* Modal pasajeros *@
                <div class="modal fade" id="modalPasajeros_@reserva.ReservaVueloID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title tituloModal" id="exampleModalLabel">Lista de Pasajeros</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @foreach(var pasajero in reserva.Acompaniantes){
                                <div class="itemPasajero">
                                    <div id="detallePasajero_@pasajero.AcompanianteID">    
                                        <p><b>Nombre: </b><span>@pasajero.NombreCompleto.ToUpper()</span> <span>@pasajero.Apellido.ToUpper()</span>.</p>
                                        <p><b><span>@pasajero.TipoDocumento</span></b>: <span>@pasajero.NroDocumento</span>.</p>
                                        <p><b>Nacionalidad</b>: <span>@pasajero.Pais</span>.</p>
                                        <p><b>Fecha Nacimiento:</b> <span>@pasajero.FechaNacimiento.ToString("dd/MM/yyyy")</span>.</p>
                                        <p><b>Género:</b> <span>@pasajero.Genero.ToUpper()</span>.</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                        </div>
                    </div>
                </div>

                @* Modal escalas *@
                <div class="modal fade" id="modalEscalas_@reserva.ReservaVueloID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title tituloModal" id="exampleModalLabel">Tramos de la Reserva</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Tramo/s Ida: </p>
                                @foreach (var escala in reserva.Escalas)
                                {
                                    @if (escala.EscalaIda)
                                    {
                                        <div class="itemPasajero">
                                            <p><b>Aerolinea: </b><span>@escala.AerolineaID.ToUpper()</span>.</p>
                                            <p><b>Aeropuero Origen: </b><span>@escala.AeropuertoOrigenID.ToUpper()</span>.</p>
                                            <p><b>Aeropuero Destino: </b><span>@escala.AeropuertoDestinoID.ToUpper()</span>.</p>
                                            <p><b>Número de Vuelo: </b><span>@escala.AerolineaID.ToUpper()</span><span>@escala.NumeroVuelo.ToUpper()</span>.</p>
                                            <p><b>Salida: </b><span>@escala.FechaSalida.ToString("dd/MM/yyyy HH:mm")Hs.</span></p>
                                            <p><b>Llegada: </b><span>@escala.FechaLlegada.ToString("dd/MM/yyyy HH:mm")Hs.</span></p>
                                            <p><b>Duración: </b><span>@escala.DuracionVuelo</span>.</p>
                                        </div>
                                    }
                                }
                                <p>Tramo/s Vuelta:</p>
                                @{
                                    var cantEscalasVuelta = reserva.Escalas.Count(e => e.EscalaVuelta);
                                }
                                @if (cantEscalasVuelta > 0)
                                {
                                    @foreach (var escala in reserva.Escalas)
                                    {
                                        @if (escala.EscalaVuelta)
                                        {
                                            <div class="itemPasajero">
                                                <p><b>Aerolinea: </b><span>@escala.AerolineaID.ToUpper()</span>.</p>
                                                <p><b>Aeropuero Origen: </b><span>@escala.AeropuertoOrigenID.ToUpper()</span>.</p>
                                                <p><b>Aeropuero Destino: </b><span>@escala.AeropuertoDestinoID.ToUpper()</span>.</p>
                                                <p><b>Número de Vuelo: </b><span>@escala.AerolineaID.ToUpper()</span><span>@escala.NumeroVuelo.ToUpper()</span>.</p>
                                                <p><b>Salida: </b><span>@escala.FechaSalida.ToString("dd/MM/yyyy HH:mm")Hs.</span></p>
                                                <p><b>Llegada: </b><span>@escala.FechaLlegada.ToString("dd/MM/yyyy HH:mm")Hs.</span></p>
                                                <p><b>Duración: </b><span>@escala.DuracionVuelo</span>.</p>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="itemPasajero">
                                        <p>No posee vuelos de regreso. Es solo un vuelo de ida.</p>
                                    </div>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>
